# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Pakistan",23,True,34.5)

Pakistan 23 True 34.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
print("Pakistan",23,True,34.5, sep="-")

Pakistan-23-True-34.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [5]:
print("Pakistan", end=" ")
print(23, end=" ")
print(True, end=" ")
print(34.5)

Pakistan 23 True 34.5

4) Can a python print function take no value to print???

In [6]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [10]:
friend_name = "ahmed"
age = 30
profession = "lawer"
qualification = "bachelors"
graduation_year = 2005
firm_name = "The Himalya Associates"
joining_date = 2015
height_ft = 5.10
weight_g = 70600
monthly_income_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [8]:
current_year = 2024
years_after_bachelor = current_year - graduation_year

print(f"My friend {friend_name} has been {years_after_bachelor} years after graduation")

My friend ahmed has been 19 years after graduation

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [9]:
exp_at_law_firm = current_year - joining_date
exp_at_law_firm

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [12]:
income_dollars = monthly_income_pkr / 280
f"{income_dollars} dollars"

'714.2857142857143 dollars'

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [13]:
type(income_dollars)
income_dollars = monthly_income_pkr / 280
f"{int(income_dollars)} dollars"

'714 dollars'

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [16]:
print(f"Mr Ahmad Weight type is {type(weight_g)}")
weight_kg = weight_g/1000
print(f"Mr Ahmad Weight in kg is {weight_kg}")

Mr Ahmad Weight type is <class 'int'>
Mr Ahmad Weight in kg is 70.6

11) print the year of birth of Mr. Ahmed.

In [ ]:
birth_year = current_year - age
birth_year

1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [17]:
100%6

4

In [5]:
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

In [18]:
10%2

0

In [19]:
10 * 2

20

In [2]:
2%10

2

In [4]:
n = 2
for i in range(1,11):
    print(n, "*", i, "=", n*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20