# **Step 1: Inspect the DataFrames**

In [1]:
import pandas as pd

In [2]:
visits = pd.read_csv("visits.csv")
cart = pd.read_csv("cart.csv")
checkout = pd.read_csv("checkout.csv")
purchase = pd.read_csv("purchase.csv")

#### Inspect DataFrames

In [3]:
print("Visits DataFrame:")
visits.head()

Visits DataFrame:

                                user_id           visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188  2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1  2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab  2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96  2017-02-27 11:25:00

In [4]:
print("Cart DataFrame:")
cart.head()

Cart DataFrame:

                                user_id            cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168  2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973  2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663  2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3  2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974  2017-07-26 15:48:00

In [5]:
print("Checkout DataFrame:")
checkout.head()

Checkout DataFrame:

                                user_id        checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d  2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e  2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d  2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a  2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd  2017-01-08 20:52:00

In [6]:
print("Purchase DataFrame:")
purchase.head()

Purchase DataFrame:

                                user_id        purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85  2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac  2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc  2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d  2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867  2017-06-11 11:32:00

# **Step 2: Combine visits and cart using a left merge**

In [7]:
visits_cart = pd.merge(visits, cart, how='left', on='user_id')

# **Step 3: Length of merged DataFrame**

In [8]:
print(len(visits_cart))

2000

# **Step 4: Count null timestamps in cart_time**

In [9]:
null_cart_time = visits_cart.cart_time.isnull().sum()
print(f"Number of null cart_time values: {null_cart_time}")

Number of null cart_time values: 1652

# **Step 5: Percentage of users not adding to cart**

In [10]:
total_visits = len(visits_cart)
total_visits

2000

In [11]:
not_added_to_cart = visits_cart.cart_time.isnull().sum()
not_added_to_cart

np.int64(1652)

In [12]:
percent_not_added = (not_added_to_cart / float(total_visits)) * 100
print(f"Percentage of users who did not add to cart: {percent_not_added:.2f}%")

Percentage of users who did not add to cart: 82.60%

# **Step 6: Merge cart and checkout, count nulls, calculate percentage**

In [13]:
cart_checkout = pd.merge(cart, checkout, how='left', on='user_id')
cart_checkout

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 20:50:00
2,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:11:00
3,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaN
4,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
...,...,...,...
477,59d2b685-383a-4fce-a325-35d985713a8b,2017-01-20 03:58:00,NaN
478,a1203970-92ae-4fc7-843e-e1740c1be9d5,2017-11-12 23:07:00,NaN
479,55de53ae-89f6-43ff-a26d-df284678aca1,2017-03-17 19:56:00,2017-03-17 20:04:00
480,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 08:57:00
481,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 09:20:00

In [14]:
null_checkout_time = cart_checkout.checkout_time.isnull().sum()
null_checkout_time

np.int64(122)

In [16]:
total_cart = len(cart_checkout)
total_cart

482

In [17]:
percent_not_checked_out = (null_checkout_time / float(total_cart)) * 100
print(f"Percentage of users who added to cart but did not checkout: {percent_not_checked_out:.2f}%")

Percentage of users who added to cart but did not checkout: 25.31%

# **Step 7: Merge all four steps and examine**

In [19]:
all_data = visits.merge(cart, how='left', on='user_id') \
                 .merge(checkout, how='left', on='user_id') \
                 .merge(purchase, how='left', on='user_id')
print("All Data Merged:")
all_data.head()

All Data Merged:

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaN,NaN,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaN,NaN
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaN,NaN,NaN
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaN,NaN,NaN

# **Step 8: Percentage of users who checked out but did not purchase**

In [20]:
checked_out = len(all_data[all_data.checkout_time.notnull()])
checked_out

598

In [21]:
not_purchased = all_data[all_data.checkout_time.notnull() & all_data.purchase_time.isnull()].shape[0]
not_purchased

101

In [22]:
percent_not_purchased = (not_purchased / float(checked_out)) * 100
print(f"Percentage of users who checked out but did not purchase: {percent_not_purchased:.2f}%")

Percentage of users who checked out but did not purchase: 16.89%

# **Step 9: Identify the weakest step and suggest improvements**

In [23]:
# Calculate drop-off percentage
visit_to_cart = percent_not_added  # From Step 5
cart_to_checkout = percent_not_checked_out # From Step 6
checkout_to_purchase = percent_not_purchased # From Step 8

print(f"Visit to Cart Drop-off: {visit_to_cart:.2f}%")
print(f"Cart to Checkout Drop-off: {cart_to_checkout:.2f}%")
print(f"Checkout to Purchase Drop-off: {checkout_to_purchase:.2f}%")

Visit to Cart Drop-off: 82.60%
Cart to Checkout Drop-off: 25.31%
Checkout to Purchase Drop-off: 16.89%

In [25]:
# Identify weakest step
drop_offs = {
    'Visit to Cart': visit_to_cart,
    'Cart to Checkout': cart_to_checkout,
    'Checkout to Purchase': checkout_to_purchase
}
weakest_step = max(drop_offs, key=drop_offs.get)
print(f"Weakest step: {weakest_step} with {drop_offs[weakest_step]:.2f}% drop-off")

Weakest step: Visit to Cart with 82.60% drop-off

# **Step 10: Calculate time to purchase**

In [ ]:
# Convert time columns to datetime
all_data['purchase_time'] = pd.to_datetime(all_data['purchase_time'])
all_data['visit_time'] = pd.to_datetime(all_data['visit_time'])

In [29]:
# Calculate time to purchase
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

In [30]:
all_data.dtypes

user_id                      object
visit_time           datetime64[ns]
cart_time                    object
checkout_time                object
purchase_time        datetime64[ns]
time_to_purchase    timedelta64[ns]
dtype: object

In [31]:
all_data[['purchase_time', 'visit_time']].head()

        purchase_time          visit_time
0                 NaT 2017-04-07 15:14:00
1 2017-01-26 15:08:00 2017-01-26 14:24:00
2                 NaT 2017-08-20 08:23:00
3                 NaT 2017-11-04 18:15:00
4                 NaT 2017-02-27 11:25:00

In [32]:
all_data['purchase_time'] = pd.to_datetime(all_data['purchase_time'], errors='coerce')
all_data['visit_time'] = pd.to_datetime(all_data['visit_time'], errors='coerce')

# **Step 11: Examine time_to_purchase**

In [33]:
all_data.time_to_purchase

0                  NaT
1      0 days 00:44:00
2                  NaT
3                  NaT
4                  NaT
             ...
2367               NaT
2368               NaT
2369               NaT
2370               NaT
2371               NaT
Name: time_to_purchase, Length: 2372, dtype: timedelta64[ns]

# **Step 12: Calculate average time to purchase**

In [34]:
all_data.time_to_purchase.mean()

Timedelta('0 days 00:43:53.360160965')